@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Red Hat Display", sans-serif;
}
html,
body {
	background-color: #000000;
	color: #ffffff;

	--bg: #000000;
	--text: #ffffff;
	--primary: #9d34da;
	--secondary: #1a1a1a;
	--accent: #bd73e8;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
}
a {
	font-weight: 700;
	background: linear-gradient(0.25turn, var(--primary), var(--accent));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
